{% extends "base.html" %}

{% block content %}
    <table class="form-style-11">
     <tr>
        <td>|..ID..|</td>
        <td>|...Editor_Name...|</td>
        <td>|...Producer_Name...|</td>
        <td>|...Program_Name...|</td>
        <td>|...Source_Id...|</td>
        <td>|...Exported_Id...|</td>
        <td>|...Camera_Quality_Control...|</td>
        <td>|...Sound_Quality_Control...|</td>
        <td>|...Comments...|</td>
        <td>|...Timestamp</td>
     </tr>
      {% for row in records_list %}
    <tr>

        <td>{{ row.id }}</td>
        <td>{{ row.editor_name }}</td>
        <td>{{ row.producer_name }}</td>
        <td>{{ row.program_name }}</td>
        <td>{{ row.source_id }}</td>
        <td>{{ row.exported_id }}</td>
        <td>{{ row.cameras }}</td>
        <td>{{ row.sounds }}</td>
        <td>{{ row.comments }}</td>
        <td>{{ row.timestamp }}</td>
     </tr>



<!--        <td bgcolor="{{ row.stat_colour }}">{{ row.unit_status }}</td>-->

    {% endfor %}

    </table>
    {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
        {% endif %}
{% endblock %}